.container-fluid{
    background-color: rgb(7, 1, 47);
    /* padding-bottom: 50px; */
}

.text-primary-color{
    color: whitesmoke;
}

.image-logo{
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.site-header-text-side-logo{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.main-menu{
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.search-circle{
    display: flex;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: rgb(32,27,68);
    align-items: center;
    align-content: center;
    justify-content: center;
}

.con-wallet{
    display: flex;
    background-image: linear-gradient(to right ,#9e4ae0, #3e7bba);
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 180px;
}

.home-navbar-button{
    color: #45b29f;
}


.main-body{
    background-color: #070125;
}

.background-shape{
    background-color: transparent;
    background-image: url("./image/hero-shape-1.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 750px;
}

.image-of-slider{
    height: 580px;
}

.text-slider{
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    color: whitesmoke;
}

.top-small-text{
    color: #45b29f;
    margin-bottom: 5px;
}

.main-slider-text{
    font-weight: bold;
    font-size: xx-large;
    font-size: 55px;
    margin-bottom: 10px;
}

.description-slider-text{
    color: rgb(203, 203, 203);
}

.slider-button{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.slider-button .get-start-button{
    display: flex;
    background-image: linear-gradient(to right ,#9e4ae0, #3e7bba);
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    margin-right: 15px;
    font-weight: bold;
}

.slider-button .create-nft-button{
    display: flex;
    background-color: #1e1d3f;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    font-weight: bold;
}