.container-fluid {
  background-color: rgb(7, 1, 47);
  /* padding-bottom: 50px; */
}

.text-primary-color {
  color: whitesmoke;
}

.image-logo {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
}

.site-header-text-side-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.main-menu {
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.search-circle {
  display: flex;
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: rgb(32, 27, 68);
  align-items: center;
  align-content: center;
  justify-content: center;
}

.con-wallet {
  display: flex;
  background-image: linear-gradient(to right, #9e4ae0, #3e7bba);
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
}

.home-navbar-button {
  color: #45b29f;
}

.main-body {
  background-color: #070125;
}

.background-shape {
  background-color: transparent;
  background-image: url("./image/hero-shape-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 750px;
}

.image-of-slider {
  height: 580px;
}

.text-slider {
  display: flex;
  flex-direction: column;
  margin-top: 85px;
  color: whitesmoke;
}

.top-small-text {
  color: #45b29f;
  margin-bottom: 5px;
}

.main-slider-text {
  font-weight: bold;
  font-size: xx-large;
  font-size: 55px;
  margin-bottom: 10px;
}

.description-slider-text {
  color: rgb(203, 203, 203);
}

.slider-button {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.slider-button .get-start-button {
  display: flex;
  background-image: linear-gradient(to right, #9e4ae0, #3e7bba);
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  margin-right: 15px;
  font-weight: bold;
}

.slider-button .create-nft-button {
  display: flex;
  background-color: #1e1d3f;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  font-weight: bold;
}

.section-two-text {
  margin-top: 80px;
  margin-bottom: 50px;
}

.Auction-text {
  color: #45b29f;
  margin-bottom: 8px;
}

.Live-Auctions-text {
  font-weight: bolder;
  color: whitesmoke;
  font-size: xx-large;
}

.row-for-two-text {
  text-align: center;
}

.image-card {
  border: 3px solid #2a2545;
  background-color: #120e2f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.image-info {
  width: 100%;
  height: 100%;
}

.image-holder {
  margin-top: 25px;
}

.avatar-image {
  display: flex;
}

.avatar {
  vertical-align: middle;
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.circle-avatar-and-other-text {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.creator-text {
  color: rgb(175, 175, 175);
}

.name-text {
  color: whitesmoke;
  margin-top: 5px;
  font-weight: bold;
}

.text-side-avatar {
  margin-left: 10px;
}

.current-and-bid {
  margin-left: 110px;
}

.text-down-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.fantesy-text {
  color: whitesmoke;
  font-weight: bold;
}

.fantesy-button {
  background-color: #1e1d3f;
  color: whitesmoke;
  width: 50px;
  height: 25px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.time-box {
  color: whitesmoke;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.time-box-clock {
  background-color: #1e1d3f;
}

.day-box {
  border: 1px solid #272344;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.text-in-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-card-content{
  margin-bottom: 110px;
}

.top-seler-back-shape {
  background-color: transparent;
  background-image: url("./image/section-shape-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 505px;
}

.seller-col-holder {
  margin-top: 10px;
  color: #45b29f;
  font-weight: bold;
  font-size: large;
}

.top-seller-col-holder {
  color: whitesmoke;
  font-weight: bold;
  font-size: 30px;
}

.see-all-seller-button {
  display: flex;
  background-image: linear-gradient(to right, #9e4ae0, #3e7bba);
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  color: whitesmoke;
  font-weight: bold;
}

.see-all-sller-col-holder {
  display: flex;
  justify-content: end;
}

.image-seller-holder {
  display: flex;
  flex-direction: row;
}

.seller-col-back-ground {
  display: flex;
  flex-direction: row;
  background-color: #26254d;
  padding: 10px;
  padding-right: 180px;
}

.top-seller-image-and-text {
  display: flex;
  flex-direction: row;
}

.seller-image-info {
  width: 100%;
  height: 100%;
}

.seller-image {
  width: 99px;
  height: 99px;
}

.image-seller-holder {
  margin-top: 30px;
  padding: 20px;
}

.seller-information-text {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 20px;
}

.seller-name-text {
  color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
}

.seller-bid-text {
  color: gray;
}

.footer-back-shape{
  background-color: transparent;
  background-image: url("./image/section-shape-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 505px;
}


.footer-logo{
  display: flex;
  flex-direction: column;
}

.footer-logo-and-text{
  display: flex;
  flex-direction: column;
}

.text-side-footer-logo{
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
}

.footer-description{
  color: whitesmoke;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer-logo-desc-holder{
  display: flex;
  flex-direction: row;
}

.footer-row-holder{
  margin-left: 96px;
}


.logo-border{
  background-color: #3a3d66;
  width: 40px;
  height: 40px;
  color: #45b29f;
  font-weight: bold;
  text-align: center;
}

.row-logo-social-holder{
  margin-top: 30px;
  display: flex;
}

.logo-icon{
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

.desc-logo-icons-col{
  margin-top: 70px;
}

.Marketplace-column{
  display: flex;
  flex-direction: column;
  margin-top: 90px;
}

.market-place-text{
  color: whitesmoke;
  font-weight: bold;
  font-size: 21px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.sub-market-place-text{
  font-weight: 500;
  color: whitesmoke;
  margin-bottom: 20px;
}

.under-line{
  border: 1px solid #45b29f;
  width: 60px;
  margin-top: 15px;
}


.footer-container-holder{
  display: flex;
  flex-direction: column;
}

.end-under-line{
  border: 1px solid rgba(103, 103, 103, 0.2);
  margin-top: 40px;
  margin-left: 105px;
  margin-right: 105px;
}

.owner-point{
  color: whitesmoke;
  margin-top: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.erato-point{
  color: #45b29f;
}

.HiBootstrap-point{
  color: #45b29f;
}

.photo-text-before-footer-card{
  font-weight: bold;
  color: whitesmoke;
}

.view-all-text-before-footer-card{
  color: #45b29f;
}

.photo-text-and-button-col-holder{
  display: flex;
  flex-direction: row;
}


.card-content-holder{
  display: flex;
  flex-direction: column;
}

.card-section-field{
  color: whitesmoke;
  font-weight: bold;
  font-size: 25px;
}

.card-field-button{
  background-color: #1e1d3f;
  color: whitesmoke;
  width: 50px;
  height: 25px;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 8px;
  margin-left: 20px;
}

.card-field-text-and-button{
  display: flex;
  flex-direction: row;
}

.viewall-text{
  color: #45b29f;
}

.view-all-text-card-field{
  margin-top: 10px;
  margin-left: 170px;
}


.collection-image{
  width: 100%;
  height: 100%;
}